@{
    ViewData["Title"] = "Home Page";
}
@model List<ApplicationCore.Models.MovieCardModel>
@foreach (var movie in Model){

        <!-- <a> is used when you want to redirect to a new page once you lick image(it can be other type)
        // cause this is url mapping, so when we want to pass a parameter, we use asp-route-xx= 
        it is converted to href in html file -->
        <a asp-controller="Movies" asp-action="Details" asp-route-id ="@movie.Id" >
            <img src="@movie.PosterUrl" alt="@movie.Title">
        </a>

}
